h1{ color: rgba(139, 213, 247, 0.555); background-color:rgb(23, 24, 22)}
 body{ background-color: rgb(206, 231, 252);}
hr{border: rgb(248, 246, 246); border-style:solid; height: 50px; ; width:;}
img{ background-color: black;}